.page-header {
  margin-top: 0;
  border: none;

  .btn-group {
    .btn {
      font-weight: normal;
    }
  }
}

.glyphicon {
  font-size: $font-size-base;
}
.glyphicon-ok-sign {
  color: $brand-success;
}
.glyphicon-exclamation-sign {
  color: $brand-warning;
}

.panel {
  .panel-heading {
    padding-bottom: 15px;

    h2 {
      padding: 5px 0;
      margin: 0;

      .btn-group {
        margin: -5px 0;
      }
    }
  }

  .panel-sub {
    padding: 5px 15px;
    border-bottom: 1px solid #eeeeee;
  }

  .panel-body {
    .alert.last {
      margin-bottom: 0;
    }
  }
}

.dropdown-menu {  
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  right: -1px;

  & > li > a {  
    padding: 3px 10px;
    margin: 0px 5px;
  }

  li a:hover {
    border-radius: 3px;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4) inset,1px 1px 0 rgba(255, 255, 255, 0.1);
    background-color: #2e3235;
  }
}

@-moz-document url-prefix() {
  a {
    &.btn {
      @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $border-radius-base);
    }

    &.btn-lg {
      @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $border-radius-large);
    }

    &.btn-sm,
    &.btn-xs {
      @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $border-radius-small);
    }
  }
}
