.page-header {
  margin-top: 0;

  .btn-group {
    .btn {
      font-weight: normal;
    }
  }
}

.panel {
  .panel-heading {
    h2 {
      margin: 0;
    }
    .glyphicon {
      font-size: $font-size-base;
    }
    .glyphicon-ok-sign {
      color: $brand-success;
    }
    .glyphicon-exclamation-sign {
      color: $brand-warning;
    }
  }

  .panel-sub {
    padding: 5px 15px;
    border-bottom: 1px solid #eeeeee;
  }

  .panel-body {
    .alert.last {
      margin-bottom: 0;
    }
  }

  .list-tree {
    ul {
      padding-left: 10px;

      li {
        border: 0;

        &.list-group-item {
          padding: 5px 10px;

          &:first-child {
            padding-top: 7px;
          }
        }
      }
    }
  }
}

@-moz-document url-prefix() {
  a {
    &.btn {
      @include button-size(($padding-base-vertical - 1px), $padding-base-horizontal, $font-size-base, $line-height-base, $border-radius-base);
    }

    &.btn-lg {
      @include button-size(($padding-large-vertical - 1px), $padding-large-horizontal, $font-size-large, $line-height-large, $border-radius-large);
    }

    &.btn-sm,
    &.btn-xs {
      @include button-size(($padding-small-vertical - 1px), $padding-small-horizontal, $font-size-small, $line-height-small, $border-radius-small);
    }
  }
}
