#nodelist {
  .dragzone {
    ul {
      margin: 0;
      padding: 0;

      li {
        margin-bottom: 15px;
        vertical-align: middle;

        .glyphicon {
          font-size: 17px;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .dropzone {
    h4 {
      &.targeted {
        background-color: $gray-lighter;
      }

      .unassign {
        margin-right: 10px;
        font-weight: normal;
        font-size: 14px;
        text-decoration: none;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      min-height: 30px;
      display: block;
      width: 100%;
      font-size: $font-size-base;
      line-height: $line-height-base;
      color: $input-color;
      background-color: $input-bg;
      background-image: none;
      border: 1px solid $input-border;
      border-radius: $input-border-radius;
      @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
      @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);

      &.targeted {
        background-color: $gray-lighter;
      }

      li {
        padding: ($padding-base-vertical - 1px) $padding-base-horizontal;
        margin-bottom: 15px;
        vertical-align: middle;

        .glyphicon {
          font-size: 15px;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.ui-draggable {
  cursor: move;
}

.ui-draggable-dragging {
  z-index: 9999;

  display: block;
  width: 100%;
  height: $input-height-base;
  padding: $padding-base-vertical $padding-base-horizontal;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $input-color;
  vertical-align: middle;
  background-color: darken($input-bg, 10%);
  background-image: none;
  border: 1px solid $input-border;
  border-radius: $input-border-radius;
  @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);
}
