table {
  &.barclamp-list {
    tbody {
      td {
        vertical-align: middle;

        &.status {
          text-align: center;
        }
      }
    }

    .barclamp {
      a {
        text-decoration: none;
      }
    }

    .proposal {
      & > td {
        background-color: whitesmoke;
      }

      &.hidden {
        display: none;
      }

      &.visible {

      }

      table {
        margin-bottom: 0;
        border: 1px solid #ddd;

        tr {
          td {
            background-color: #fff;
          }
        }
      }
    }
  }

  &.table-attributes {
    table-layout: fixed;

    tbody {
      th {
        text-align: right;
      }

      td {
        word-wrap: break-word;
      }
    }
  }

  &.table-middle {
    thead tr th,
    tbody tr th,
    tbody tr td {
      vertical-align: middle;
    }
  }

  th,
  td {
    &.alias {
      white-space: nowrap;
    }

    &.nowrap {
      white-space: nowrap;
    }

    &.empty {
      & *:last-child {
        margin-bottom: 0;
      }
    }
  }
}
