*.lock
.idea
.rvmrc
*~
erl_crash.dump
trace_*.txt
/BDD/*.beam
/BDD/default.config
/BDD/dev.config
/BDD/.*.erl.swp
/crowbar_framework/log/test.*
/crowbar_framework/db/node_description.yml
*.dia.autosave
