.row
  .col-xs-12
    %h1.page-header
      = t('.title')
    .alert.alert-info
      = t('.info')

    .btn-group
      %input.btn.btn-default{ :type => "submit", :name => "submit", :value =>
      t('.next') }
        = button_to t(".reset"), upgrade_path, class: "btn btn-default"
