.row
  .col-xs-12
    %h1.page-header
      = t(".title")
    .alert.alert-info
      = t(".upgrade_hint")

    .btn-group
      = button_to t(".next"), running_upgrade_path, class: "btn btn-default"
