.row
  .col-xs-12
    %h1.page-header
      = t(".title")
    .alert.alert-info
      = t(".upgrade_hint")

    .btn-group
      %input.btn.btn-default{ :type => "submit", :name => "submit", :value => t(".next") }
