- flash.each do |key, message|
  :javascript
    $.growl({
      type: '#{flash_for key}',
      message: '#{escape_javascript(simple_format(message))}',
      z_index: 5000,
      delay: 0,
      allow_dismiss: true
    });
