- flash.each do |key, message|
  :javascript
    $.bootstrapGrowl('#{simple_format(message)}', {
      type: '#{flash_for(key)}',
      allow_dismiss: true,
      width: 400,
      delay: null,
      offset: {
        from: 'top',
        amount: 70
      }
    });
