%div
  - d = JSON.pretty_generate JSON.parse(data.to_json)
  = find_and_preserve do
    - if request.env['HTTP_USER_AGENT'].downcase.index('msie 7').nil? and node_role and node_role.state == NodeRole::PROPOSED
      %textarea{:name => "data", :rows=>10, :cols=>80}
        = d
    - else
      %textarea.editor{:name => "data"}
        = d