- if @snapshot
  %p{:style => 'float:right'}
    = link_to t('.anneal'), snapshot_transition_path(@snapshot.id, :step=>Rails.env.development?), :class => 'button' if @snapshot.committed?
%h1
  = link_to @snapshot.name, snapshot_path(@snapshot.id) if @snapshot
  = t '.title'

= render :partial=>'node_roles/index', :locals => { :list => @list }

.clear

:javascript

  function update() {
    $.ajaxSetup({ timeout: 1000 });
    location.reload();
  }