.bundle
db/*.sqlite3
db/*.json
log/*.log
tmp/
.rvmrc
config/database.yml
public/stylesheets/*.css
*~
.beam
vendor/cache
*.swp
coverage/

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
