[Unit]
Description=Crowbar Daemon
After=network.target syslog.target remote-fs.target chef-server.service

[Service]
Type=simple
User=crowbar
Group=crowbar
PIDFile=/var/run/crowbar/crowbar.pid
ExecStartPre=/usr/bin/rm -f /var/run/crowbar/looper-chef-client.lock /var/run/crowbar/chef-client.lock
ExecStart=/usr/bin/rainbows -E production -c /opt/dell/crowbar_framework/rainbows.cfg
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
