.panel-sub
  %h3
    = t("barclamp.attributes")

    .pull-right
      %small
        = proposal_custom_button @proposal, dep_raw: @dep_raw, attr_raw: false

.panel-body
  .form-group
    - if bad_explorer?
      %textarea#proposal_attributes{ name: "proposal_attributes", rows: 30, cols: 80 }
        = @proposal.pretty_attributes_json
    - else
      %textarea#proposal_attributes.editor{ name: "proposal_attributes" }
        = @proposal.pretty_attributes_json
