.row
  .col-xs-12
    %h1.page-header
      = @title

      .pull-right
        %span.badge
          = t(".proposals", count: @count)

.panel.panel-default{ data: { ledupdate: status_barclamp_path(controller: params[:action] == "modules" ? "modules" : current_barclamp, format: :json) } }
  = render_barclamp_index(current_barclamp)
