.row
  .col-xs-12
    %h1.page-header
      &= @title

      - if @count >= 0
        .pull-right
          %span.badge
            = t(".proposals", :count => @count)

.panel.panel-default{ "data-ledupdate" => proposals_status_path }
  = render_barclamp_index(@bc_name)
