--- 
barclamps: 
  bios: 
    user_managed: true
    description: manages bios configuration for Dell PEC hardware
  glance: 
    user_managed: true
    description: Glance service (image registry and delivery service) for the cloud
  nova: 
    user_managed: true
    description: installs and configures the Openstack Nova component. It relies upon the network and glance barclamps for normal operation.
  deployer: 
    user_managed: true
    description: "Initial classification system for the Crowbar environment "
  mysql: 
    user_managed: true
    description: Configures a MySQL Server
  dell-internal: 
    members: 
      bios: 20
      raid: 100
  ubuntu_install: 
    user_managed: true
    description: Ubunutu Installation
  nagios: 
    user_managed: true
    description: common monitoring service for the cluster that can be used by other barclamps
  raid: 
    user_managed: true
    description: The default proposal for the raid barclamp
  nova_dashboard: 
    user_managed: true
    description: A way to maximize awesomeness for Nova Dashboard
  overview: 
    user_managed: false
    description: 
  provisioner: 
    user_managed: true
    description: The roles and recipes to set up the provisioning server and a base environment for all nodes
  ipmi: 
    user_managed: true
    description: The default proposal for the ipmi barclamp
  network: 
    user_managed: true
    description: Instantiates network interfaces on the crowbar managed systems. Also manages the address pool
  dell-branding: 
    user_managed: false
    members: 
      dell-branding: 999
    description: 
  ganglia: 
    user_managed: true
    description: a common Ganglia service for the cluster that can be used by other barclamps
  test: 
    user_managed: true
    description: Test Barclamp Integrations
  logging: 
    user_managed: true
    description: centralized logging system based on syslog
  kong: 
    user_managed: true
    description: Kong Validation Tool
  dns: 
    user_managed: true
    description: manages the DNS subsystem for the cluster
  keystone: 
    user_managed: true
    description: Centralized authentication and authorization service for OpenStack
  swift: 
    user_managed: true
    description: part of Openstack, and provides a distributed blob storage
  crowbar: 
    user_managed: true
    members: 
      deployer: 10
      ubuntu_install: 50
      nagios: 100
      provisioner: 10
      ipmi: 20
      network: 10
      ganglia: 100
      test: 99
      logging: 99
      dns: 10
      crowbar: 0
      ntp: 10
    description: Self-referential barclamp enabling other barclamps
  ntp: 
    user_managed: true
    description: Common NTP service for the cluster. An NTP server or servers can be specified and all other nodes will be clients of them.
  openstack: 
    members: 
      glance: 100
      nova: 100
      mysql: 1000
      nova_dashboard: 1000
      overview: 99
      kong: 99
      keystone: 175
      swift: 100
