%input#proposal_development{ :type => "hidden", :name => "proposal_deployment", :value => @proposal.raw_deployment.to_json }

.panel-sub
  %h3
    = t("barclamp.deployment")

    .pull-right
      %small
        = proposal_raw_button @proposal, :dep_raw => true, :attr_raw => @attr_raw

.panel-body
  .alert.alert-info
    = t(".noconfig")
