.row
  .col-xs-12
    %h1.page-header
      = t("upgrade_title")
    .alert.alert-info
      = t(".upgrade_hint")

    .btn-group
      = button_to t("next"), upgrade_path, method: :put, class: "btn btn-default"
