%%-*-erlang-*- 
{nodes, [ {node1, "node1.crowbar.com", "Populated Information!", 250, "Rack1"},
          {node2, "node2.crowbar.com", "Some Populated Information!", 260, "Rack1"},
          {node3, "node3.crowbar.com", "More Populated Information!", 270, "Rack1"},
          {node4, "node4.crowbar.com", "Extra Populated Information!", 280, "Rack1"}
        ]}.
{attribs, [ {attrib0, "uptime", "System Up Time", 100, "integer"},
            {attrib1, "cpu_type", "CPU Type", 300, "string"}, 
            {attrib2, "service_tag", "Service Tag", 310, "string"}, 
            {attrib3, "alias", "DNS Alias", 320, "string"},
            {attrib4, "ip_managment", "Management IP", 330, "ipaddress"},
            {attrib5, "ip_public", "Public IP", 340, "ipaddress"},
            {attrib6, "mac", "MAC address", 350, "macaddress"},
            {attrib7, "ipmi_enabled", "IPMI Available", 360, "boolean"},
            {attrib8, "cpu_count", "CPU Count", 305, "integer"}
              ]}.
{groups,  [ {group1, "Rack1", "North Pole", 1000}
          ]}.
          
          
            %nodes
% Rob's Attribute list  
%      #alias
%    #name
%    #ip (list)
%    #physical_drives (list)
%    #memory (total)
%    #cpu (type & count)
%    #hardware (dmi product name)
%    #raid_set
%    #nics (list)
%    #uptime
%    #asset_tag
%    #number_of_drives
%    #physical_drives (list)
%    #switch name, mac, port, unit
%    #bios_set -> ["crowbar"]["hardware"]["bios_set"] 
%    #get_bmc_user -> ["ipmi"]["bmc_user"] 
%    #get_bmc_password-> ["ipmi"]["bmc_password"] 
%    #bmc_address
    