.col-xs-12
  - clusters.sort_by { |element, cluster| element }.each do |element, cluster|
    .row
      .col-xs-12
        = render :partial => "cluster", :locals => { :element => element, :status => ServiceObject.cluster_status(element)}
