.col-xs-12
  - roles.group_by { |r| r.name.split("-").last }.each do |hypervisor, hypervisor_roles|
    = render :partial => "compute_node", :locals => { :hypervisor => hypervisor, :nodes => hypervisor_roles.first.element_nodes(all_roles, all_nodes).reject { |n| n.cluster }.map(&:node) }
