.col-xs-12
  .panel.panel-default
    .panel-heading
      %h2
        = t(".unassigned_nodes")
    %ul.list-group
      - nodes.each do |node|
        %li.list-group-item
          = render :partial => "node_link", :locals => { :node => node }
    .panel-footer
