.col-xs-12
  .panel.panel-default
    .panel-heading
      %h2
        = t(".unassigned_roles")
    %ul.list-group
      - RoleObject.all.reject { |r| r.core_role? || !r.proposals.empty? }.map(&:name).sort.each do |role_name|
        %li.list-group-item
          = role_name
    .panel-footer
