.col-md-6.col-xs-12
  .row
    .col-md-6.col-xs-12
      %h2
        = t(".unassigned_roles")
  .row
    .col-md-6.col-xs-12
      .panel.panel-default
        .panel-heading
          %h3
            = t(".roles")
        %ul.list-group
          - RoleObject.all.reject { |r| r.core_role? || !r.proposals.empty? }.map(&:name).sort.each do |role_name|
            %li.list-group-item
              = role_name
