.row{ "data-ledupdate" => nodes_status_path, "data-ledignore" => "groups, proposals", "data-ledreload" => "false" }
  .col-xs-12
    %h1.page-header
      = t(".title")

.row
  .col-md-8.col-xs-12
    .row
      = render :partial => "role_dashboard", :locals => { :roles => @assigned_roles, :all_roles => @roles, :all_nodes => @nodes }
  .col-md-offset-1.col-md-3.col-xs-12
    .row
      = render :partial => "unassigned_nodes", :locals => { :nodes => @unassigned_nodes }
    .row
      = render :partial => "unassigned_roles", :locals => { :roles => @unassigned_roles }
