.panel.panel-default.panel-danger
  .panel-heading
    The required chef server is not available

  .panel-body
    %p
      Please consult your log files, the chef server is currently not available but we need access to it
      to work properly. If this is an application error, we encourage you to visit the
      <a href="http://github.com/crowbar/crowbar/wiki/error">Crowbar site</a>. Return to the <a href="/">dashboard</a>.
