.panel.panel-default.panel-danger
  .panel-heading
    We can't find the page you're looking for

  .panel-body
    %p
      Please double check the URL you're trying to reach or consult your <a href="/utils">log files</a>. If
      this is an application error, please visit the <a href="http://github.com/crowbar/crowbar/wiki/error">Crowbar site</a>
      for more information or to submit a bug report. Return to the <a href="/">dashboard</a>.
