.row
  .col-xs-12
    %h1.page-header
      = t(".title")

.panel.panel-default
  .panel-heading
    %h2
      = t(".index")

  %ul.list-group.list-tree
    = render :partial => "tree", :locals => { :topics => @index["topics"] }
