%h1= t('.title')

/ Full Index
%div#docindex
  %ul
    = render partial: 'tree', collection: Doc.roots.sort

/ Table of Contents
%div{:class=>"toc box"}
  %h2= t('.toc_title')
  %ol(type="1")
    - Doc.roots.sort.each do |x|
      %li
        %a{:href=>"##{x.id}"}= truncate(x.description)

.clear
