%input.button{:type => "submit", :name => "commit", :value => t('.commit')}
- if deployment.committed?
  %input.button{:type => "submit", :name => "recall", :value => t('.recall'), :'data-confirm' => t('.recall_changes')}
- if deployment.active? 
  %input.button{:type => "submit", :name => "deallocate", :value => t('.deallocate'), :'data-confirm' => t('.deallocate')}
