%%-*-erlang-*- 
{url, "http://192.168.124.10:3000"}.
{user, "developer"}.
{password,"Cr0wbar!"}.    % do not store production passwords here!
{feature_path,"features/"}.
{extension, "feature"}.
{global_setup, crowbar}.
{secondary_step_files, [crowbar_rest, crowbar, bdd_webrat, bdd_restrat, bdd_catchall]}.
{translation_error, "translation_missing"}.
{log,[warn,error]}.
