- 0.upto(node_detail_count - 1).each do |row|
  %tr
    - node_detail_software[row].tap do |software|
      - if software.nil?
        %td{ colspan: 2 }
          &nbsp;
      - else
        %th
          = software.first.html_safe
        %td
          = software.last.html_safe

    - node_detail_hardware[row].tap do |hardware|
      - if hardware.nil?
        %td{ colspan: 2 }
          &nbsp;
      - else
        %th
          = hardware.first.html_safe
        %td
          = hardware.last.html_safe
