- 0.upto(node_detail_count - 1).each do |row|
  %tr
    - node_detail_software[row].tap do |software|
      - if software.nil?
        %td{ :colspan => 2 }
          &nbsp;
      - else
        %th{ :class => "col-lg-2" }
          = software.first
        %td{ :class => "col-lg-4" }
          = software.last

    - node_detail_hardware[row].tap do |hardware|
      - if hardware.nil?
        %td{ :colspan => 2 }
          &nbsp;
      - else
        %th{ :class => "col-lg-2" }
          = hardware.first
        %td{ :class => "col-lg-4" }
          = hardware.last
