%h1= t '.title'

- if @list.length == 0
  %p= t '.no_nodes'
  %p= link_to t('.bootstrap'), bootstrap_path, :class=>'button'
- else
  = render :partial => 'index', :locals=>{:nodes => @list}

.clear

:javascript

  function update() {
    $.ajaxSetup({ timeout: 1000 });
    location.reload();
  }