.row{ "data-ledupdate" => status_nodes_path, "data-ledredirect" => dashboard_path, "data-ledignore" => "groups,proposals", "data-ledsingle" => true }
  .col-xs-12
    %h1.page-header
      = t(".title")

= render "show"
