%span.led{ :class => node.status, :title => t(node.state, :scope => "state", :default => node.state.titlecase), "data-node" => node.handle }
%a{ :href => node_path(node.handle), :title => node.description }
  = node.alias
