.row
  .col-xs-12
    %h3
      = role.name

.row
  .col-xs-12
    - elements.select { |e| e.cluster }.each do |cluster|
      %span
        = render :partial => "link_cluster", :locals => { :status => ServiceObject.cluster_status(cluster.nodes), :name => cluster.name }
        (
        - cluster.nodes.each do |node|
          = render :partial => "link_node", :locals => { :node => node }
        )

    - elements.select { |e| !e.cluster }.each do |node|
      %span
        = render :partial => "link_node", :locals => { :node => node.node }
