.row{ "data-ledupdate" => nodes_status_path, "data-ledignore" => "groups, proposals", "data-ledreload" => "false" }
  .col-xs-12
    %h1.page-header
      = t(".title")

.row
  .col-xs-12
    - @assigned_roles.each do |barclamp, roles|
      .panel.panel-default
        .panel-heading
          %h2
            = display_name_for(barclamp)
        .panel-body
          - roles.map { |role| { :role => role, :elements => role.element_nodes(@roles, @nodes) } }.each do |locals|
            - unless locals[:elements].empty?
              = render :partial => "role", :locals => locals
        .panel-footer
